html .main {
  --primary: #668899;
} 

.container {
  padding: 0 2rem;
}

.container p {
  font-size: 1.8rem;
  color: var(--primary);
}

.main {
  min-height: 100vh;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
}

.buttonLink, .button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--primary);
  color: white;
  font-size: 2rem;
}